#articleContainer{
  padding: 5px 10px;
}

#mobileDetailsContainer .title,.article-title .title {
    font-size: 0.44rem !important;
    line-height: 1.4em
}

#mobileDetailsContainer .article-src-time {
    font-size: 0.3rem !important;
}

#mobileDetailsContainer .article-content .txt {
    font-size: 0.36rem;
}
#mobileDetailsContainer .ant-row{
    margin-top: 20px;
}
